In [20]:
from google.colab import files
files.upload()

{}

In [21]:
import numpy as np
import pandas as pd

In [22]:
df= (pd.read_excel(io='/content/KPMG_VI_New_raw_data_update_final (1) (1).xlsx',sheet_name='NewCustomerList'))

In [23]:
df

    first_name  last_name  gender  ...  Unnamed: 20  Rank     Value
0      Chickie    Brister    Male  ...            1     1  1.718750
1        Morly     Genery    Male  ...            1     1  1.718750
2      Ardelis  Forrester  Female  ...            1     1  1.718750
3       Lucine      Stutt  Female  ...            4     4  1.703125
4      Melinda     Hadlee  Female  ...            4     4  1.703125
..         ...        ...     ...  ...          ...   ...       ...
995  Ferdinand  Romanetti    Male  ...          996   996  0.374000
996       Burk    Wortley    Male  ...          997   997  0.357000
997   Melloney      Temby  Female  ...          997   997  0.357000
998     Dickie    Cubbini    Male  ...          997   997  0.357000
999      Sylas    Duffill    Male  ...         1000  1000  0.340000

[1000 rows x 23 columns]

In [17]:
df.isnull().sum()

first_name                               0
last_name                               29
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     17
job_title                              106
job_industry_category                  165
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                   0
address                                  0
postcode                                 0
state                                    0
country                                  0
property_valuation                       0
Unnamed: 16                              0
Unnamed: 17                              0
Unnamed: 18                              0
Unnamed: 19                              0
Unnamed: 20                              0
Rank                                     0
Value                                    0
dtype: int64

In [25]:
df['last_name']=df['last_name'].fillna(method='ffill')
df['DOB']=df['DOB'].fillna(method='ffill')
df['job_title']=df['job_title'].fillna(method='ffill')
df['job_industry_category']=df['job_industry_category'].fillna(method='ffill')

In [26]:
NewCustomerList = pd.DataFrame({
        "first_name": df["first_name"],
        "last_name": df["last_name"],
        "gender": df["gender"],
        "past_3_years_bike_related_purchases": df["past_3_years_bike_related_purchases"],
        "DOB": df["DOB"],
        "job_title": df["job_title"],
        "job_industry_category": df["job_industry_category"],
        "wealth_segment": df["wealth_segment"],
        "deceased_indicator": df["deceased_indicator"],
        "owns_car": df["owns_car"],
        "tenure": df["tenure"],
        "address": df["address"],
        "postcode": df["postcode"],
        "state": df["state"],
        "country": df["country"],
        "property_valuation": df["property_valuation"],
        "Rank": df["Rank"],
        "Value": df["Value"]
    })
NewCustomerList.to_csv('./NewCustomerListsubmission.csv', index=False)